/* set default styles */
* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
/* body styles */
body {
    /* common borwnser fonts */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure footer is at the bottom */
}